---
layout: default
---

<!--mới-->
<article id="post-multipart-x-mixed-replace" class="post-article article-type-post fade in" itemprop="blogPost">
  <div class="post-card">
    <h1 class="post-card-title">{{ page.title | escape }}</h1>
    <div class="post-meta">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <time class="post-time" title="{{ page.date | date_to_xmlschema }}" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date_to_xmlschema }}</time>
    </div>
    <div class="post-content" id="post-content" itemprop="postContent">
      <p>
        {{ content }}
      </p>
    </div>
    <blockquote class="post-copyright">
      <div class="content">
        {%- if page.modified_date -%}
        ~ 
        {%- assign mdate = page.modified_date | date_to_xmlschema -%}
        <span class="post-time">Lần cập nhật cuối cùng:<time datetime="{{ mdate }}" itemprop="dateUpdated">{{ mdate | date: date_format }}</time></span>
        {%- endif -%}
        <br>
        Liên kết gốc: <a href="{{ page.url | relative_url }}" target="_blank" rel="external">{{ page.url | relative_url }}</a>
      </div>
      <footer><a href="http://imys.net"><img src="/img/face.jpg" alt="Wang Yusen"> Wang Yusen</a></footer>
    </blockquote>
    <div class="post-footer">
    {%- if page.author -%}
      <ul class="article-tag-list">
        {% for author in page.author %}
        <li class="article-tag-list-item"><a class="article-tag-list-link waves-effect waves-button" href="/tags/{{ author }}">{{ author }}</a></li>
        {%- if forloop.last == false %} {% endif -%}
        {% endfor %}
        {% for tag in page.tags %}
        <li class="article-tag-list-item"><a class="article-tag-list-link waves-effect waves-button" href="/tags/{{ tag | latin }}">{{ tag }} </a></li>
        {%- if forloop.last == false %} {% endif -%}
        {% endfor %}
      </ul>
    {%- endif -%}
    <div class="page-share-wrap">
      <div class="page-share" id="pageShare">
        <ul class="reset share-icons">
          <li><a class="facebook share-sns" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | relative_url }}" data-title=" Facebook"><i class="icon icon-facebook"></i></a></li>
          <li><a class="twitter share-sns" target="_blank" href="https://twitter.com/intent/tweet?text={{ page.title | escape }}&amp;url={{ page.url | relative_url }}&amp;via=https://tranvietnguyen.github.io" data-title=" Twitter"><i class="icon icon-twitter"></i></a></li>
          <li><a class="google share-sns" target="_blank" href="https://plus.google.com/share?url={{ page.url | relative_url }}" data-title=" Google+"><i class="icon icon-google-plus"></i></a></li>
        </ul>
      </div><a href="javascript:;" id="shareFab" class="page-share-fab waves-effect waves-circle"><i class="icon icon-share-alt icon-lg"></i></a>
    </div>
  </div>
</article>
<!--hết mới-->



<!-- cũ <article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format }}
      </time>
      {%- if page.modified_date -%}
        ~ 
        {%- assign mdate = page.modified_date | date_to_xmlschema -%}
        <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
          {{ mdate | date: date_format }}
        </time>
      {%- endif -%}
      {%- if page.author -%}
        • {% for author in page.author %}
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span class="p-author h-card" itemprop="name">{{ author }}</span></span>
            {%- if forloop.last == false %}, {% endif -%}
        {% endfor %}
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article> -->
